<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="./assets/{{logo}}">
</head>

<body style="{{this.backgroundStyle}}">
    {{{navigation}}}
    <div id="container">
        <div id="flexContainer">
            <div class="flexBox" style="margin:5px;width: 60%; min-width: 700px;">
                <div class="w3-card-4">

                    <header class="w3-container w3-lime">
                        <h1>Välkommen till MaintMaster Säsong 5</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p>Just nu pågår Säsong 5 för fullt. Säsong 6 startar v.42</p>

                    </div>
                </div>

                <!--
                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Season 11 Calendar</h1>
                    </header>

                    <div class="w3-container w3-light-grey" style="font-weight: bold;">
                        <img style="max-width:100%; margin:auto; display:block;" src="./assets/S10_calendar.png" />
                    </div>
                </div>
                -->

                <div class="w3-card-4">

                    <header class="w3-container w3-lime">
                        <h1>Sidoserier</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p><strong>Supportserien</strong></p>
                        <p>I supportserien körs i nuvarande säsong H2 FWD och H2 RWD</p>
                    </div>

                    <div class="w3-container w3-light-grey">
                        <p><strong>MaintMaster inofficiellt SM och VOC</strong></p>
                        <p>Inga bilbyten under pågående deltävling – man kör hela deltävlingen i samma bil, det omfattar både etappen på lördagen och etappen på söndagen. Mellan deltävlingarna får man byta bil och även klass. Byter man klass får man inte ta med sig poängen från föregående bilklass.</p>
                        <p>I MSRD VOC DATSUN så får endast Datsun köras och med diffarna på 0.</p>
                    </div>
                </div>

            </div>
            <div class="flexBox" style="margin:5px;">
                <h2>Regelbok</h2>
                <h3>Säsong 5</h3>
                <ul>
                    <li><a
                            href="https://docs.google.com/document/d/11E3gLv9X5_0Ti5yRsWTbVamPFnyURZ_M">Regelbok</a>
                    </li>
                </ul>
                <h2>Resultat</h2>
                <ul>
                    <li>
                        <a href="./supportserien/index.html">Supportserien</a>
                    </li>
                    <li>
                        <a href="./Inofficiellt-sm-voc/index.html">Inoff SM & VOC</a>
                    </li>
                </ul>

                <h2>Andra länkar</h2>
                <ul>
                    <li>
                        <a href="https://junior-rally-championship.fandom.com/wiki/Junior_Rally_Championship_Wiki">Wiki</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!--
        DROPDOWN
    -->
    <script>
        function openNav() {
            var x = document.getElementById("mobileNav");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>

</html>